* {
  box-sizing: border-box;
}

body {
  background-color: #F1E9E1;
}

.contents-container {
  position: relative;
  width: 820px;
  height: 400px;
  background: #FFFFFF;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 0px 20px rgba(192, 175, 158, .7), 0px 1px 20px rgba(192, 175, 158, .7), -1px 0px 20px rgba(192, 175, 158, .7), 0px -1px 20px rgba(192, 175, 158, .7);
}

.contents-category {
  display: flex;
  list-style: none;
  width: 400px;
  padding: 50px 0;
  margin: 10px auto;
  justify-content: space-around;
  color: #A7978B;
}

.carousel-list {
  display: flex;
  list-style: none;
  width: 600px;
  padding: 0;
  margin: 0 auto;
  justify-content: space-around;
}

.list-item {
  margin: 0;
}

.list-item > figure {
  margin: 0;
  text-align: center;
  border-radius: 5px;
  width: 164px;
  border: 2px solid #F1E9E1;
}

.list-item > figure > img {
  width: 160px;
  height: 90px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
}

.list-item > figure > figcaption {
  margin-top: 15px;
  margin-bottom: 10px;
}

.list-item > figure > figcaption > .title {
  font-style: normal;
  font-size: .8rem;
  font-weight: 700;
  display: block;
}

.date {
  display: inline-block;
  font-size: 10px;
  color: #A7978B;
  font-weight: 600;
}

.move_btn {
  position: absolute;
  top: 50%;
}

.move-left_btn {
  left: 5%;
}

.move-right_btn {
  right: 5%;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.indicator {
  padding: 5px;
  border-radius: 50%;
  margin: 0 10px;
  outline-style: none;
  border: none; 
  cursor: pointer;
}